*{

}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, .to-do-list {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

.add-task-row {
  background-color: #29283955;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40em;
  padding: 2em;
  box-shadow: 12px 12px 30px 2px rgba(0, 0, 251, 0.14);
  border-radius: 1em;
  border: 0.02em solid cornflowerblue;
  
}

.add-task-input {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.add-task-input:focus {
  border-color: #646cff;
  box-shadow: 0 0 8px rgba(100, 108, 255, 0.5);
}

/* Resetting default styles for ordered list */
ol {
  list-style-type: none; /* Remove default list style */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}


.task-rows {
  /* margin: 0; */
  display: flex;
  flex-direction: column;
  min-width: 40em;
  max-width: 50em;
}

.task-row {
  margin-top: 20px;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #1a1a1a;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
}

.task-text {
  flex: 1;
  padding-right: 1em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  button {
    background-color: #f9f9f9;
  }

  .task-row {
    background-color: #f9f9f9;
    color: #333;
  }
}

.box{
  border: 3px solid;
  padding: 25px;
}

.stop-watch{
  
  display: flex;
  flex-direction: column;
  border: 0.2rem solid rgb(29, 118, 156);
  border-radius: 5rem;
  max-width: 60%;

  .timer{
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  .buttons{
    display: flex;
    justify-content: center;

    .start-btn{
      background-color: rgb(95, 115, 65);
    }
    .stop-btn{
      background-color: rgb(186, 47, 61);
    }
    .reset-btn{
      background-color: rgb(103, 47, 186);
    }
  }
}
